:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #000000;
  --batton-background-color: #f5f4fa;
  --social-link-button: #afb1b8;
  --footer-background-color: #2f303a;
}
body {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  background: var(--white-color);
  color: var(--dark-color);
}
div,
ul,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.visual-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка */

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  color: var(--dark-color);
}
.logo-web {
  color: var(--accent-color);
}

/* Навигация */
.item {
  position: relative;
}
.border-index::after {
  position: absolute;
  top: 96%;
  width: 48px;
  height: 4px;
  content: "";
  border: 1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.border-port::after {
  position: absolute;
  top: 96%;
  width: 78px;
  height: 4px;
  content: "";
  border: 1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav {
  display: flex;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}
.link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-adres {
  color: var(--primeri-text-color);
}
.header .link:focus,
.header .link:hover {
  color: var(--accent-color);
}
.site-nav .active {
  color: var(--accent-color);
}
.header-ul {
  display: flex;
  margin-left: auto;
}
.header-cont {
  display: flex;
  width: 161px;
  height: 16px;
}
.header-svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-left: auto;
  fill: currentColor;
  cursor: pointer;
}
.header-svg-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: auto;
  fill: currentColor;
  cursor: pointer;
}

/* Герой */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hover.jpg);
}
.hero-title {
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

/* button */

.button.index {
  padding: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.button.portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--batton-background-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primari:hover,
.button.primari:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Особенности */

.feature {
  padding-bottom: 94px;
  padding-top: 94px;
}
.feature-ul {
  display: flex;
}
.feature-li:not(:last-child) {
  margin-right: 30px;
}
.feature-head {
  display: block;
  height: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-text {
  display: block;
  height: 75px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}
.feature-svg {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--batton-background-color);
}

/* Чем мы занимаемся */

.images {
  padding-bottom: 94px;
}
.image-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-ul > .images-li:not(:last-child) {
  margin-right: 30px;
}
.image-ul > .images-li:nth-child(3n) {
  margin-right: 0;
}
.client-title,
.images-title,
.team-title {
  margin-bottom: 50px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.img {
  display: block;
}

.images-li {
  position: relative;
}
.images-div {
  position: absolute;
  bottom: 0%;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.images-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 205px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-size: 1600px 708px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
    to right,
    var(--batton-background-color),
    var(--batton-background-color)
  );
}
.team-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-ul > .time-list:not(:last-child) {
  margin-right: 30px;
}
.team-ul > .time-list:nth-child(4n) {
  margin-right: 0;
}
.time-list {
  height: 428px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.head {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team .head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team .text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}
.team-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
}

.team-button {
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--social-link-button);
  background-color: transparent;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-button:not(:last-child) {
  margin-right: 10px;
}
.team-button:hover,
.team-button:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/* Фильтра */

.container-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.container-ul > .container-li:not(:last-child) {
  margin-right: 8px;
}
.container-ul > .container-li:nth-child(5n) {
  margin-right: 0;
}

/* Проекты */

.anime {
  position: relative;
  overflow: hidden;
}
.anime-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progect-li:hover .anime-overlay,
.progect-li:focus .anime-overlay {
  transform: translateY(0%);
}
.anime-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.product {
  padding-top: 94px;
  padding-bottom: 94px;
}
.progect {
  display: flex;
  flex-wrap: wrap;
}
.progect-li {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 60px);
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 330px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.progect-li:nth-child(3n) {
  margin-right: 0;
}
.progect-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.progect-li:hover,
.progect-li:focus {
  border: 1px solid #eeeeee;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progect .head {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.progect .text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}
.product-div {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.product-h {
  width: 322px;
  height: 38px;
}
.product-p {
  width: 322px;
  height: 32px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Постоянные клиенты  */

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  margin-bottom: 50px;
}
.client-ul {
  display: flex;
  flex-direction: row;
}
.client-li:not(:last-child) {
  margin-right: 30px;
}
.client-button {
  display: flex;
  width: 170px;
  height: 90px;
  padding: 20px 45px;
  color: #afb1b8;
  background-color: transparent;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-button:hover,
.client-button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client-svg {
  fill: currentColor;
}

/* FOOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, #2f303a, #2f303a);
}
.container-logo {
  display: block;
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  color: var(--white-color);
}
.footer-div {
  width: 231px;
  height: 81px;
}
.adress-item {
  display: block;
  min-height: 23px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.foot-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .foot-link:hover,
.footer .foot-link:focus {
  color: var(--accent-color);
}
.foot-adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-h {
  padding-right: 40px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-div {
  width: 231px;
  height: 81px;
}
.footer-ul {
  display: flex;
}
.footer-li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
  margin-top: 15px;
}
.futer-adress-li {
  margin-right: 70px;
}
.footer-button {
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:not(:last-child) {
  margin-right: 10px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--accent-color);
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}
.form-h {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.form-input {
  margin-top: 20px;
  margin-right: 0px;
  padding-top: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.form-div {
  display: flex;
  align-items: flex-end;
}
.form-button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: 12px;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.form-svg {
  position: absolute;
  left: 148px;
  width: 24px;
  height: 24px;
  fill: var(--batton-background-color);
}

/* Модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-butten {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-svg {
  height: 30px;
}
.modal-h {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-form-fild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form-fild label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}
